.header
{
    background-image: url(https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/s960x960/245322731_10158794084994355_3855959804287383599_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=e3f864&_nc_ohc=viXqpJVc1iAAX9WcM8Y&_nc_ht=scontent-frt3-1.xx&oh=00_AT90sevMTTRFbaQkHfx0jC6IyOTguT39CI0Lm5tg2E-_Yg&oe=61FCDD35) ;
    background-size: cover;
    background-position: 50% 40%;  
    padding-bottom: 20px;  
}
.header-container {
    position: relative;
    text-align: center;
    color: white;
}
.header-title-text
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5vw;
}
.header-title-text h1
{
    margin: 10px;
}
.header-subtext
{
    position: relative;
    bottom: 20%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}
  
.grid-title-text
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
}
.grid-item-container {
    position: relative;
    text-align: center;
    color: black;
    
  }
.grid-subtext
{
    font-size: 2vw;
    padding: 10px;
}

.grid-container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4vw;
    padding: 4vw;
}

img
{
    width: 100%;
    height: 90%;
    opacity: 0.5;
}

ul{
    list-style: none;
}

li {
    position: relative;
    text-align: center;
    color: black;
    padding: 20px;
}


a, a:link, a:visited, a:hover, a:hover {
    color: black;
    text-decoration: none;
    padding: 0px;
    margin: 0px
}



.img-header
{
    opacity: 0;
}