<%- include ('../partials/_header'); %>
<head>
    <title> BerlinTour | <%=title%></title>
</head>
<div class="headerback">
    <div class="headline">
            
        <h1>Berlin Sightseeing</h1>

    </div>
    <div class="subtext">
            <h3>When you are in Berlin, you have a lot to do. Among them, </br> 
            sightseeing is a must for all visitors. Berlin has a very interesting and </br>
            intense history.  This is best seen in the city and its many sights. </br>
            Therefore, we now show you our top 10 must-see sights a small explanation.  </h3>
    </div>
</div>
<div class="container">
    <div class="attraction-list">
        <div class="attraction">
            <div class="attraction-head">
                <h2>The Brandenburg Gate</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Berlin_Brandenburger_Tor_BW_2.jpg/800px-Berlin_Brandenburger_Tor_BW_2.jpg">
                </div>
                <div class="text">
                    <p class="description"> The Brandenburg Gate (German: Brandenburger Tor) is an 18th-century neoclassical monument in Berlin, built on the orders of Prussian king Frederick William II after the temporary restoration of order during the Batavian Revolution. One of the best-known landmarks of Germany, it was built on the site of a former city gate that marked the start of the road from Berlin to the town of Brandenburg an der Havel, which used to be the capital of the Margraviate of Brandenburg. It is located in the western part of the city centre of Berlin within Mitte, at the junction of Unter den Linden and Ebertstraße, immediately west of the Pariser Platz. One block to the north stands the Reichstag building, which houses the German parliament (Bundestag). The gate is the monumental entry to Unter den Linden, a boulevard of linden trees which led directly to the royal City Palace of the Prussian monarchs.</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Reichstag</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Reichstag_Berlin.jpg/1920px-Reichstag_Berlin.jpg">
                </div>
                <div class="text">
                    <p class="description"> The Reichstag (German: Reichstagsgebäude officially: Deutscher Bundestag – Plenarbereich. Reichstagsgebäude is a historic building in Berlin which houses the Bundestag, the lower house of Germany's parliament.

                        It was constructed to house the Imperial Diet (German: Reichstag) of the German Empire. It was opened in 1894 and housed the Diet until 1933, when it was severely damaged after being set on fire. After World War II, the building fell into disuse; the parliament of the German Democratic Republic (the Volkskammer) met in the Palast der Republik in East Berlin, while the parliament of the Federal Republic of Germany (the Bundestag) met in the Bundeshaus in Bonn.
                        
                        The ruined building was made safe against the elements and partially refurbished in the 1960s, but no attempt at full restoration was made until after German reunification on 3 October 1990, when it underwent a reconstruction led by architect Norman Foster. After its completion in 1999, it once again became the meeting place of the German parliament: the contemporary Bundestag.</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Berlin Television Tower</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://cdn.getyourguide.com/img/tour/5d107c82a40cb.jpeg/145.jpg">
                </div>
                <div class="text">
                    <p class="description"> The Berliner Fernsehturm or Fernsehturm Berlin (English: Berlin Television Tower) is a television tower in central Berlin, Germany.

                        Located in the Marien quarter (Marienviertel), close to Alexanderplatz in the locality and district of Mitte, the tower was constructed between 1965 and 1969 by the government of the German Democratic Republic (East Germany). It was intended to be both a symbol of Communist power and of the city. It remains a landmark today, visible throughout the central and some suburban districts of Berlin. With its height of 368 metres (including antenna) it is the tallest structure in Germany, and the third-tallest structure in the European Union. When built it was the fourth-tallest freestanding structure in the world after the Ostankino Tower, the Empire State Building and 875 North Michigan Avenue, then known as The John Hancock Center.
                        
                        Of the four tallest structures in Europe, it is 2 m shorter than the Torreta de Guardamar, 0.5 m shorter than the Riga Radio and TV Tower, and 8 m taller than the Trbovlje Power Station in 2017. The structure is also more than 220 metres higher than the old Berlin Radio Tower in the western part of the city, which was built in the 1920s.</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Humboldt Forum</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://www.sueddeutsche.de/image/sz.1.5249407/704x396?v=1621958852">
                </div>
                <div class="text">
                    <p class="description">The Humboldt Forum is a museum of non-European art on the Museum Island in the historic centre of Berlin. Named in honour of the Prussian scholars Wilhelm and Alexander von Humboldt, it combines three rebuilt baroque façades of the former Royal Palace, a contemporary exterior overlooking the Spree river and a modern interior designed by Franco Stella. Considered as the "German equivalent" of the British Museum, the Humboldt Forum will mainly house the non-European collections of the Berlin State Museums, temporary exhibitions and public events. Due to the COVID-19 pandemic, it opened digitally on 16 December 2020 and became accessible for the general public on 20 July 2021.

                        The Berlin Palace complex, which houses the Humboldt Forum, has been criticized as an attempt to downplay Germany's history of Prussian militarism. New York Times architectural critic Michael Kimmelman called it a "fake Baroque palace...a stage-set of an old capital, with phony, manufactured charm, erasing traces of the bad years of the 20th century."</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Gendarmenmarkt</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Panorama_Gendarmenmarkt-Berlin-Huntke-2008.jpg">
                </div>
                <div class="text">
                    <p class="description">The Gendarmenmarkt is a square in Berlin and the site of an architectural ensemble including the Berlin concert hall and the French and German Churches. In the centre of the square stands a monumental statue of poet Friedrich Schiller. The square was created by Johann Arnold Nering at the end of the seventeenth century as the Linden-Markt and reconstructed by Georg Christian Unger in 1773. The Gendarmenmarkt is named after the cuirassier regiment Gens d'Armes, which had stables at the square until 1773.

                        During World War II, most of the buildings were badly damaged or destroyed. Today all of them have been restored.</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Kurfürstendamm</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Berlin_-_K%C3%BCrfurstendamm_Gehsteig.jpg/1280px-Berlin_-_K%C3%BCrfurstendamm_Gehsteig.jpg">
                </div>
                <div class="text">
                    <p class="description"> The Kurfürstendamm, colloquially Ku'damm, is one of the most famous avenues in Berlin. The street takes its name from the former Kurfürsten (prince-electors) of Brandenburg. The broad, long boulevard can be considered the Champs-Élysées of Berlin and is lined with shops, houses, hotels and restaurants. In particular, many fashion designers have their shops there, as well as several car manufacturers' show rooms. The avenue includes four lines of plane trees and runs for 3.5 km (2.2 mi) through the city. It branches off from the Breitscheidplatz, where the ruins of the Kaiser Wilhelm Memorial Church stand, and leads southwestward up to the district of Grunewald.

                        At the junction with Joachimstaler Straße it passes the Café Kranzler, successor of the Café des Westens, a famous venue for artists and bohémiens of the pre–World War I era. The Kurfürstendamm U-Bahn station and the Swissôtel Berlin can be found at the same junction. One block farther, near Uhlandstraße U-Bahn station, is the Hotel Bristol Berlin (formerly Kempinski) hotel as well as the Theater am Kurfürstendamm, at the site of a former exhibition hall of the Berlin Secession art association.
                        </p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Schloss Charlottenburg</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Charlottenburg_Hohenzollern_2.jpg/1920px-Charlottenburg_Hohenzollern_2.jpg">
                </div>
                <div class="text">
                    <p class="description">Schloss Charlottenburg (Charlottenburg Palace) is a Baroque palace in Berlin, located in Charlottenburg, a district of the Charlottenburg-Wilmersdorf borough.

                        The palace was built at the end of the 17th century and was greatly expanded during the 18th century. It includes much lavish internal decoration in baroque and rococo styles. A large formal garden surrounded by woodland was added behind the palace, including a belvedere, a mausoleum, a theatre and a pavilion. During the Second World War, the palace was badly damaged but has since been reconstructed. The palace with its gardens are a major tourist attraction.The original palace was commissioned by Sophie Charlotte, the wife of Friedrich I, Elector of Brandenburg in what was then the village of Lietzow. Named Lietzenburg, the palace was designed by Johann Arnold Nering in baroque style. It consisted of one wing and was built in 2+1⁄2 storeys with a central cupola. The façade was decorated with Corinthian pilasters. On the top was a cornice on which were statues. At the rear in the centre of the palace were two oval halls, the upper one being a ceremonial hall and the lower giving access to the gardens. Nering died during the construction of the palace and the work was completed by Martin Grünberg and Andreas Schlüter.</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Museum Island</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Berlin_Museumsinsel_Fernsehturm.jpg/1280px-Berlin_Museumsinsel_Fernsehturm.jpg">
                </div>
                <div class="text">
                    <p class="description"> The Museum Island (German: Museumsinsel) is a museum complex on the northern part of the Spree Island in the historic heart of Berlin. It is one of the most visited sights of Germany's capital and one of the most important museum sites in Europe. Built from 1830 to 1930 by order of the Prussian Kings according to plans by five architects, the Museum Island was designated a UNESCO World Heritage Site in 1999. It consists of the Altes Museum, the Neues Museum, the Alte Nationalgalerie, the Bode-Museum and the Pergamonmuseum. As Museum Island includes all of Spree Island north of the Unter den Linden, the Berliner Dom is also located here, near the Lustgarten. To the south, the reconstructed Berlin Palace houses the Humboldt Forum museum and opened in 2020. Since the German reunification, the Museum Island has been rebuilt and extended according to a master plan. In 2019, a new visitor center and art gallery, the James Simon Gallery, was opened.</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Berlin Wall</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Berlin_Wall_%2813-8-2006%29.jpg/1280px-Berlin_Wall_%2813-8-2006%29.jpg">
                </div>
                <div class="text">
                    <p class="description"> The Berlin Wall was a guarded concrete barrier that physically and ideologically divided Berlin from 1961 to 1989. Construction of the wall was commenced by the German Democratic Republic (GDR, East Germany) on 13 August 1961. The Wall cut off West Berlin from surrounding East Germany, including East Berlin. The barrier included guard towers placed along large concrete walls, accompanied by a wide area (later known as the "death strip") that contained anti-vehicle trenches, beds of nails and other defenses. The Eastern Bloc portrayed the Wall as protecting its population from fascist elements conspiring to prevent the "will of the people" from building a socialist state in East Germany.

                        GDR authorities officially referred to the Berlin Wall as the Anti-Fascist Protection Rampart (German: Antifaschistischer Schutzwall). The West Berlin city government sometimes referred to it as the "Wall of Shame", a term coined by mayor Willy Brandt in reference to the Wall's restriction on freedom of movement. Along with the separate and much longer Inner German border (IGB), which demarcated the border between East and West Germany, it came to symbolize physically the "Iron Curtain" that separated Western Europe and the Eastern Bloc during the Cold War.</p>
                </div>
            </div>
        </div>
        <div class="attraction">
            <div class="attraction-head">
                <h2>Potsdamer Platz</h2>
            </div>
            <div class="containeratt">
                <div class="image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Berlin_-_Potsdamer_Platz_-_2016.jpg/1280px-Berlin_-_Potsdamer_Platz_-_2016.jpg">
                </div>
                <div class="text">
                    <p class="description">Potsdamer Platz , Potsdam Square) is a public square and traffic intersection in the center of Berlin, Germany, lying about 1 km (1,100 yd) south of the Brandenburg Gate and the Reichstag (German Parliament Building), and close to the southeast corner of the Tiergarten park. It is named after the city of Potsdam, some 25 km (16 mi) to the south west, and marks the point where the old road from Potsdam passed through the city wall of Berlin at the Potsdam Gate. After developing within the space of little over a century from an intersection of rural thoroughfares into the most bustling traffic intersection in Europe, it was totally destroyed during World War II and then left desolate during the Cold War era when the Berlin Wall bisected its former location. Since German reunification, Potsdamer Platz has been the site of major redevelopment projects. The history of Potsdamer Platz can be traced to 29 October 1685, when the Tolerance Edict of Potsdam was signed, whereby Frederick William, Elector of Brandenburg-Prussia from 1640 to 1688, allowed large numbers of religious refugees, including Jews from Austria and Huguenots expelled from France, to settle on his territory to repopulate it following the Thirty Years' War (1618–48).</p>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="/css/sightseeing.css" rel="stylesheet" >
<%- include ('../partials/_footer'); %> 