</div>
</body>
<footer>
    <div class="bigcontainer-footer">       
            <div class=navbar-imag>
                <a class="navbar-brand" href="/">
                    <div class="logo-image">                   
                    </div>
                </a>
            </div>
            <div class="pagefooter" role="navigation">
                <div class="container-navbarfooter">                
                    <ul class="navfooter"> Pages
                    <li><a href="/overview">Overview</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/sightseeing">Sightseeing</a></li>
                    <li><a href="/food">Food</a></li>
                    <li><a href="/planner">Planner</a></li>
                    </ul>
                </div>
            </div>    
          <!-- Maybe later <div class="pagefooter">
                <ul class="navfooter"> Company
                    <li><a href="/impressum">Impressum</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>  -->   
    </div>
    <link href="/css/footerstyle.css" rel="stylesheet">
</footer>
</html>